---
metaTitle: Evan Gong
metaDesc: Open Source Developer.
---
{% extends 'layouts/page.njk' %}
{% from "post-list.njk" import postList %}

{% block leftContent %}
  <p class="PageDescription">I’m Evan Gong. I work with <em>Lego</em> and <em>open source developer</em>. Design Lego models makes me happy.</p>
  {% include "./components/socials.njk" %}
{% endblock leftContent %}

{% block rightContent %}
  {{ postList(collections.posts) }}
{% endblock rightContent %}
